#start {
    color: black;
}

.start {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 2em;
    padding: .375em;
    border-radius: .5em;
    color: black;
    background-color: $bg-color;
    border: 4px solid $bg-color;
    outline: 2px solid black;
    transition: all 1s;
    height: fit-content;
    width: fit-content;
    text-align: center;
    justify-content: center;
}

.start:hover {
    border: 4px solid black;
}

.otherDivider {
    display: block;
    margin: 0 auto;
    margin-top: .25em;
    width: 30em;
    height: 3px;
    padding: .5em;
    background: linear-gradient(to right, $bg-color 0%, black 50%, $bg-color 100%) no-repeat 0% 100% / 100% 3px;
}

.status {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 2em;
    padding: .375em;
    transition: all 1s;
    height: fit-content;
    width: fit-content;
    text-align: center;
    justify-content: center;
}