.fileInputContainer {
    box-sizing: border-box;
    font-size: 2rem;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    width: fit-content;
    height: fit-content;

    border-radius: calc(.5 * 1rem);
    border: 2px solid black;
    padding: .5rem;

    cursor: pointer;
    transition: all 500ms;
}

.fileInputContainer.selected {
    color: $bg-color;
    background-color: black;
}

.fileInputContainer:hover,
.fileInputContainer:focus-within {
    box-shadow: inset 0 0 0 4px black;
}

.fileInputContainer.selected:hover,
.fileInputContainer.selected:focus-within {
    box-shadow: inset 0 0 0 4px $bg-color;
}

.fileInput {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}