/* im-fell-english-sc-regular - latin */
@font-face {
    font-family: 'IM Fell English SC';
    font-style: normal;
    font-weight: 400;
    /* src: url('../fonts/im-fell-english-sc-v12-latin-regular.eot'); IE9 Compat Modes */
    src: local(''),
         url('../fonts/im-fell-english-sc-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/im-fell-english-sc-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/im-fell-english-sc-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/im-fell-english-sc-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/im-fell-english-sc-v12-latin-regular.svg#IMFellEnglishSC') format('svg'); /* Legacy iOS */
  }