body {
  font-family: 'IM Fell English SC', serif;
  margin: 32px;
  background-color: rgb(239, 235, 236);
}

body * {
  margin: 0px;
}

header {
  display: inline-block;
  width: 100%;
  margin: 0px;
  top: 0px;
}

header h1 {
  display: inline-block;
  font-size: 50px;
  margin: 0px;
}

header span.tooltip-text {
  width: 70%;
  float: right;
}

header ul {
  display: block;
  list-style: none;
  float: left;
  margin: 0px;
}

header li {
  float: right;
  padding-right: 16px;
  padding-left: 16px;
}

input[type='radio']:checked:after {
  accent-color: black;
}

label {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
}

footer {
  bottom: 0;
}

.slider {
  appearance: none;
  width: 30%;
  height: 12px;
  background: black;
  opacity: 0.5;
}

.tooltip h2 {
  display: inline-block;
}

.tooltip-text{
  visibility: hidden;
}

.tooltip:hover .tooltip-text{
  visibility: visible;
}

div#settings > label {
  display: block;
}

.canvasContainer {
  position: relative;
  display: block;
  float: left;
  width: 80%;
  min-height: 750px;
  overflow: scroll;
}

.canvasContainer::-webkit-scrollbar {
    display: none;
  }
  
.canvasContainer {
  -ms-overflow-style: none;
  scrollbar-width: 200px;
}