.radioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.radioLabel {
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;

    border-radius: calc(.5 * 1rem);
    border: 4px solid $bg-color;
    padding: .375rem;

    transition: all 1000ms;
}

.radio {
    -webkit-appearance: none;
    appearance: none;
    background-color: $bg-color;
    margin: 0;
}

.radioLabel:focus-within,
.radioLabel:focus,
.radioLabel:hover {
    border: 4px solid black;
}

.radio:checked + .radioLabel {
    border: 4px solid black;
    background-color: black;
    color: $bg-color;
}