.slider {
  /* -webkit-appearance: none; */
  /* Override default CSS styles */
  appearance: none;
  width: 30%;
  /* Full-width */
  height: 12px;
  /* Specified height */
  background: black;
  /* Grey background */
  /* outline: none; */
  /* Remove outline */
  opacity: 0.5;
  /* Set transparency (for mouse-over effects on hover) */
}